html, body{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}
*{
  margin: 0;
  padding: 0;
}

/*== BACKGROUND WALLPAPER  + dark*/
body{
  background-size: cover!important;
}
@media screen and (max-width: 908px)
and (min-width: 0px){
  body{
    background-position-x: 71%!important ;
  }
}
@media screen and (max-width: 607px)
and (min-width: 0px){
  .body-mov{
    background-position-y:65px;
  }
  body{
    background-position-x: 41%!important ;
  }
}
.dark-tint{
  background: rgba(0,0,0,0.4);
  height: 90%;
  width: 100%;
}
/*== END BACKGROUND WALLPAPER + dark */

/* == ABOUT ARTICLE */
.art-xwc{
  background: #FFF;
  width: 100%;
}
/* == END ABOUT ARTICLE */

/* WARNING: LAYOUT  VERT ALL PR*/
.pxs{
  position: relative;
  z-index: 555;
  padding: 50px 0;
}
.pxs blockquote{
  margin: auto!important;
}
.p1{
  color: red;
}
.youtube{
  width: 560px;
  margin: auto;
  display: block;
  overflow: hidden;
}
@media screen and (max-width: 560px)
and (min-width: 0px){
  .youtube{
    width: 100%;
  }
}
.soundcloud{
  display: block;
  margin: auto;
}
@media screen and (max-width: 500px)
and (min-width: 0px){
  .soundcloud{
    width: 100%!important;
    height: 300px!important;
  }
}
.pr-title{
  text-align: center;
  font-size: 110%;
}
.hr{
  background: red!important;
  color: red;
  width: 50px;
  display: block;
  margin: auto;
  border: 1px solid red;
}
.pr-title span{
  display: block;
}
.cat{
  color: red;
  font-weight: bold;
  font-size: 128%;
}
.cat-name{
  color: #000;
  font-weight: bold;
  font-size: 140%
}
.cat-firm{
  font-size: 50%;
  font-style: italic;
}
.cat-firm i{
  color: red;
}
.pxs p{
  width: 70%;
  margin: auto;
  padding: 30px 0;
  font-size: 120%;
}
.pxs hr{
  width: 40%;
  margin: auto;
  display: block;
}
@media screen and (max-width: 500px)
and (min-width: 0px){
  .pxs p{
    width: 86%;
  }
}
.pxs p a{
  text-decoration: none;
}
.hghlgt{
  color: red;
  font-size: 115%;
}
.ig-art{
  text-align: center;
}
.badge{
  display: block;
  position: absolute;
  bottom: 2%;
  color: #c90000;
  right: 2%;
  background: #FFF;
  padding: 2px 5px;
}

.art-xxc{
  width: 100%;
  height: 600px;
  background: transparent;
}

#II{
  background: #fff;
  padding: 30px 0;
  text-align: center;
}
.II h3{
  color: red!important;
}
#II a{
  display: inline-block;
  width: 110px;
  margin: auto;
  color: #000;
  text-align: center;
  padding: 7px;
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}
#II a img{
  width: 10px;
  position: absolute;
  right: 0;
  top: 4px;
  width: 28px;
}
#II a:hover{
  color: red;
}
.redd{
  color: red;
  text-transform: uppercase;
}
#fourweeks{
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  text-align: center;
}
.blank{
  height: 100%;
  width: 100%;
  background: transparent;
}

.what-you-think{
  overflow: hidden;
  background: #fff;
  max-width: 850px;
  margin: auto;
}
.what-you-think .cat{
  font-style: normal;
  color: #000;
}
.what-you-think .cat i{
  font-style: normal;
  color: red;
}
.god-acc{
  width: 90%;
  padding: 8px 0;
  position: relative;
  margin: auto;
}

.god-acc img{
  display:block;
  margin: auto;
  width: 102px;
  background: red;
  height: 80px;
}
.god-acc p{
  font-size: 110%;
  text-align: center;
  color: #fff;
  padding: 0 5px;
  margin-top: 12px;
  background: #000;
}
.god-handle{
  display: block;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-top: 10px;
}
.god-handle a{
  background: red;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  width: 130px;
  text-align: center;
}
.trap-fans{
  width: 90%;
  margin: auto;
  padding: 8px;
  margin-top: 30px;
}
.trap-fans p{
  text-align: center;
  color: red;
  font-size: 130%;
  text-transform: capitalize;
}
.trap-btn{
  width: 127px;
  padding: 3px 8px;
  text-align: center;
  color: #fff;
  background: red;
  text-transform: uppercase;
  margin: auto;
  display: block;
}
@media screen and (max-width: 350px)
and (min-width: 0){
  .trap-btn{
    width: 95%;
    float: none!important;
    display: block!important;
    background-image: none;
  }
}
/*// LAYOUT  VERT ALL PR*/

/* TRAPPER */
.trapper{
  width: 100%;
  position: relative;
}
.right{
  position: absolute;
  right: 0;
  width: 30%;
}
.article-bbc-join{
  width: 90%!important;
  margin: auto;
  float: none!important;
}
.join-bbc form input {
    border-color: transparent;
    padding: 8px;
    width: 80%;
    border-bottom: 1px solid #292929;
}
.join-bbc h2{
  font-size: 108%!important;
  color: #000;
  text-align: center;
}
.join-bbc label{
  color: red;
  font-weight: bold;
  margin-bottom: 3px;
}
.endorse{
  text-align: center!important;
}
.ads li i{
  display: inline-block;
  float: none!important;
  margin: 0px!important;
}
/* //TRAPPER */


/*    READ MORE */
.read-more{
  background: #fff;
  width: 100%;
  padding-left: 3px;
}
.read-more h4{
  color: red;
  padding: 4%;
  text-transform: uppercase;
  font-weight: lighter;
}
.art-container{
  padding: 10px;
  margin: auto;
  max-width: 1000px;
}
@media screen and (max-width: 350px)
and (min-width: 0px){
  .art-container{
    padding: 0px!important;
  }
}
.articless{
  height: 250px;
  background: blue;
  width: 49%;
  display: inline-block;
  background-size: cover!important;
  position: relative;
}
@media screen and (max-width: 626px)
and (min-width: 0px){
  .articless{
    width: 95%!important;
    display: block;
    margin-bottom: 8px;
  }
}
@media screen and (max-width: 709px)
and (min-width: 0px){
  .articless{
    background-position-x: -55px!important;
  }
}
@media screen and (max-width: 400px)
and (min-width: 0px){
  .articless{
    width: 100%!important;
  }
  .heading{
    height: auto!important;
  }
}
.heading{
  background: rgba(0, 0, 0, 0.95);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 0;
  left: 0;
  height: auto;
  overflow: hidden;
}
.heading p{
  margin: auto;
  width: 90%;
  color: #fff;
  font-weight: bold;
  font-size: 130%;
  text-align: left;
  text-transform: uppercase;
}
  .heading p small{
    color: red;
    text-transform: capitalize;
  }
/* // READ MORE */


/* NOT A ROBOT */
.robot-alert{
  color: red;
  font-size: 90%;
  text-align: center;
  font-weight: bold;
}
.equation{
  border: 1px solid #b5b5b5;
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 5%;
}
.equation span{
  font-size: 28px;
}
.equate{
  padding: 8px!important;
  font-size: 25px!important;
  text-align: center!important;
  border: 1px solid!important;
}
.equate p{
  padding: 0;
}
/* //NOT A ROBOT */
