/* LATEST ON TRENDS */
.latest-trends{
  width: 100%;
  padding: 30px 0;
  overflow: hidden;
}
.dsk-title-sm{
  display: none;
}
.latest-trends h3{
  margin-left: 15px;
  font-size: 131%;
}
.latest-trends h6{
  text-decoration: underline;
  text-decoration-color: #bababa;
}
.trends-row{
  margin-top: 20px;
}
.trends-row h6{
  color: red;
}
.trends-row img{
  display: inline-block;
  width: 51%;
  float: left;
}
.trends-content{
  float: left;
  display: inline-block;
  width: 47%;
  padding: 5px 15px;
  position: relative;
}
.tc-row{
  bottom: 0;
}
.tc-row a{
  width: 100px;
  display: block;
  text-align: center;
  color: red!important;
  margin: auto;
}
.tc-row a:hover{
  text-decoration: underline!important;
}
/* //LATEST ON TRENDS */
